<div class="container" id="container" #container>
  <div class="form-container method-container">
    <form>
      <h1>{{method}}</h1>
      <div class="social-container">
        <a (click)="authService.FacebookAuth()" class="social"><i class="fab fa-facebook-f"></i></a>
        <a (click)="authService.GoogleAuth()" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <input class="input-name" type="text" name="name" placeholder="Name" #name>
      <input class="input-email" type="email" name="email" placeholder="Email" #email>
      <input class="input-password" type="password" name="password" placeholder="Password" #password>
      <div class="method-button-container">
        <button class="button-signin" type="button" name="signin" (click)="signInMethod(email,password)">Sign In</button>
        <button class="button-signup" type="button" name="signup" (click)="signUpMethod(name,email,password)">Sign Up</button>
        <button class="button-forgot-pass" type="button" name="forgot-password" (click)="forgotPasswordMethod(email)">Forgot Password</button>
      </div>
      <!-- <a (click)="resendEmailVerificationMethod()"><u>Resend Email Verification?</u></a> -->
    </form>
  </div>
</div>
