.app-container{
  position: absolute;
  width: 100vw;
  top: 5rem;
  height: calc(100% - 5rem);
  color: rgba(255,255,255,0.87);
}

.wrapper{
  padding: 0 1rem;
  max-width: 950px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 265px auto;
}

aside{
  background: #e2e2e2;
  width: 265px;
  grid-column: 1/2;
  height: 100%;
  color: #1f1f1f;
}

.filter-item{
  width: 100%;
  display: flex;
  align-items: center;
  height: 42px;
  
}


.filter-icon{
  margin: .2rem;
}

.filter-icon svg{
  fill: #282828de;
}

.filter-name{
  margin: .2rem;
}

.filter-item:hover,
.filter-item.active{
  background: rgba(31, 31, 31,0.1);
}

.filter-menu hr{
  background: rgba(31, 31, 31,0.1);
}

main{
  position: relative;
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  color: #1f1f1f;
  padding: 1rem;
  overflow-x: auto;
}

main::-webkit-scrollbar {
  display: none;
}

@media(max-width:925px){
  .wrapper{
    grid-template-columns: 3.5rem auto;
    padding: 0;
  }
  
  .filter-icon{
    margin: 1rem;

  }

}

.account-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-photo{
  border-radius: 50%;
  width: 40%;
  padding: 0 .5rem;
}

.profile-body{
  padding: .5rem;
}

.user-profile{
  width: 100%;
}

.show-history{
  border: none;
}

.log{
  background: rgba(0,0,0,0.2);
  padding: 0;
  margin: 1rem 0;
  margin-top: 0;
  border-bottom: solid 2px rgba(255,255,255,0);
  transition: all ease .3s;
}

.log:hover{
  border-bottom: solid 2px rgba(255,255,255,.1);
}

.log-item{
  border-left: solid thick rgba(255,255,255,0.1);
  border-bottom: solid thin rgba(255,255,255,0.1);
  transition: all ease .3s;
  display: grid;
  grid-template-columns: auto 2rem;
  align-content: center;
  height: 2rem;
  max-height: 2rem;
}

.log-item:hover{
  border-left: solid thick rgba(255,255,255,.8);
  background:rgba(255,255,255,0.1);
  opacity: .9;
  cursor: pointer;
}

.log-body{
  position: relative;
  display: block;
  grid-column: 1/2;
  padding: .3rem;
  height: 100%;
  line-height: 1.6rem;
  overflow: hidden;
}

.log-info{
  position: relative;
  display: grid;
  align-content: center;
  width: 100%;
  height: 100%;
  fill: #fff;
  grid-column: 2/3;
}

.checkbox{
  display: block;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  background: rgba(0,0,0,0.2);
  border: solid 2.5px rgba(255,255,255,.5);
  transition: all ease .2s;
}

.checkbox:hover{
  background: rgba(255,255,255,0.1);
}

.checkbox.checked{
  background: rgba(255,255,255,.1);
  border: solid 2.5px rgba(255,255,255,0);
}


.log-label-container{
  width: fit-content;
  padding: .3rem .4rem;
  background: rgba(255,255,255,.1);
  /* background: rgba(0,0,0,0.2); */

  /* border-top-left-radius: 15px; */
  /* border-top-right-radius: 15px; */
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto auto;
  margin-bottom: 0;
}


.history-log-checkbox{
  grid-column: 1/2;
}

.history-log-label{
  grid-column: 2/3;

}